# dependencies
node_modules/

# next.js build output
.next/
out/
build/

# environment variables
.env
.env.local
.env*.local

# logs
npm-debug.log*
yarn-error.log*

# editor and OS files
.DS_Store
.vscode/*
!.vscode/extensions.json
*.swp

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts